

<div class="index-general">
<img class = "brejinha" src="/images/beer.png" alt="Breja">

<button type="button" class="btn btn-primary btn-lg btn-block btn-shadow"><a href="/beers">Check the Beers!</a>  </button>
<button type="button" class="btn btn-secondary btn-lg btn-block btn-shadow"><a href="/random"> Check the Random Beers!</a></button>

</div>